
/* regole di reset */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
/* /regole di reset */

/* regole generali */
body{
    background-color: brown;
    font-family: 'Open Sans', sans-serif;
}
.square{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
}
.red{
    background-color: red;
}
button{
    font-size: 20px;
    font-weight: 600;
    color:#b91450;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}
select{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
/* /regole generali */


/* sezione text container */

.text-container{
    margin: auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    color: white;
    margin-bottom: 20px;
}
.text-container p{
    padding: 10px;
    font-size: 18px;
}
.text-container select{
    padding: 7px 30px;
    border: 1px solid #b91450;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
/* /sezione text container */






/* sezione game container */

/* soluzione container con grid */
/* #game-container{
    background-color: chocolate;
    margin: auto;
    width: 1000px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(10, 1fr);
} */
/* /soluzione container con grid */




#game-container{
    background-color: chocolate;
    margin: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
/* /sezione game container */
